{% extends "base.html" %}

{% block title %}MavLINK Login{% endblock %}

{% block content %}
    <div class="login-container">
        
        <h2>Login with {{ method.replace('_', ' ').title() }}</h2>
        <form action="{{ url_for('login_method', method=method) }}" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input id="username" name="j_username" type="text" autocomplete="off" required>
            </div>
            
            <div class="input-group">
                <label for="password">Password</label>
                <input id="password" name="j_password" type="password" autocomplete="off" required>
            </div>
            
            <div class="register">
                <a href="{{ url_for('register') }}" target="_blank">Not a member? Register here</a>
            </div>
            
            <button class="btn-cta" type="submit">Login</button>
        </form>
    </div>
{% endblock %}